* {
    margin: 0px;
}

body{
	background-color: #DDDDDD;
	color: #707070;
	font-family: helvetica neue;
	font-size: 10px;
}

h2{
    font-size: 12pt;
}

/*Navigatie */

nav{
    background-color: #3A3A3A;
    min-height: 70px;
    box-shadow: 0px 3px 6px;
}

.profilepicmenu {
    border-radius: 50%;
    float: right;
    width: 50px;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
}


/*Main content*/

main{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

h1 {
    font-size: 14pt;
}

p{
    font-size: 11pt;
    margin-bottom: 5%;
}

.feiten {
    display: flex;
    flex-wrap: wrap;
}

.tijd, .snelheid, .brandstof, .water {
    background-color: white;
    width: 100%;
    height: 90px;
    margin-bottom: 5%;
}

.tijdicon, .snelheidicon, .brandstoficon, .watericon {
    width: 15%;
    margin-top: 15px;
    margin-left: 6%;
}

.tijdtekst, .snelheidtekst, .brandstoftekst, .watertekst {
    float: right;
    font-size: 16pt;
    font-weight: bold;
    margin-top: 5%;
    margin-right: 6%;
}

.tijdtekst2, .snelheidtekst2, .brandstoftekst2, .watertekst2 {
    float: right;
    font-size: 10pt;
    margin-right: 6%;
    margin-top: -30px;
}


.snelheidtekst2, .brandstoftekst2, .watertekst2 {
    float: right;
}

/*Begin brandstof verbruik*/
.brandstofverbruik, .stroomgebruik, .afstand, .crew {
    background-color: white;
    margin-top: 50px;
    padding: 20px;
    width: 100%;
}

.stroomgebruik, .afstand, .crew {
    margin-top: 10%;
}

.stroomgebruik > p {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.crew {
    margin-bottom: 20%;
}

footer{
    background-color: black;
    height: 40px;
    font-size: 10pt;
    color: white;
    text-align: center;
    padding-top: 10px;
}


.data {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "brverbruik" 
        "stgebruik"           
        "afstand" 
        "crew";
    grid-template-columns: 10)%;
    grid-row-gap: 10px;
}

.brandstofverbruik {
        grid-area: brverbruik;
        width: 92%;
        padding: 4%;
        margin-top: 50px;
    }
    
.stroomgebruik {
        grid-area: stgebruik;
        width: 92%;
        padding: 4%;
        margin-top: 50px;
        justify-self: end;
    }
    
.afstand {
        grid-area: afstand;
        width: 92%;
        padding: 4%;
        margin-top: 30px;
    }
    
.crew {
        grid-area: crew;
        width: 92%;
        padding: 4%;
        margin-top: 30px;
    }

#afstandsGrafiek {
    width: 300;
}


.wrapper {
  width: 100%;
  height: 200px;
}
.wrapper > .gauge-container {
  margin: 0;
}
.gauge-container.two {
}
.gauge-container.two > .gauge > .dial {
  stroke: #334455;
  stroke-width: 6;
}
.gauge-container.two > .gauge > .value {
  stroke: orange;
  stroke-dasharray: none;
  stroke-width: 9;
}
.gauge-container.two > .gauge > .value-text {
  fill: #ccc;
  font-weight: bold;
  font-size: 1em;
}

.gauge-container {
  width: 100%;
  height: 400px;
}
.gauge-container > .gauge > .dial, .gauge-container1 > .gauge > .dial {
  stroke: #eee;
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}

.gauge-container1 > .gauge > .value{
    stroke: #631FED;
}
.gauge-container > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12pt;
}

.gauge-tekst {
    text-align: center;
    font-weight: bold;
}

b{
    font-weight: normal;
    font-size: 10pt;
}

.crewtabel {
    display: flex;
}

.knopcrew1 {
    float: right;
    margin-top: -30px;
}

.knopcrew {
    padding: 10px;
    background-color: #0D7C7B;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.dik {
    margin-top: 5%;
    height: 3px;
    background-color: #707070;
}

.dik1 {
    margin-top: -2%;
    height: 3px;
    background-color: #707070;
}

.naam {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    font-weight: bold;
}

.status {
    display: flex;
    float: right;
    margin-top: -65px;
    margin-right: 200px;
    font-weight: bold;
}

.pf {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline;
}

.persoonnaam {
    float: right;
    margin-top: -70px;
    margin-right: 480px;
}

.dik2{
    color: black;
    height: 3px;
}

.persoonnaam2 {
    float: right;
    margin-right: 480px;
    margin-top: 40px;
}









@media only screen and (max-width: 899px) and (min-width: 550px) {
    .feiten{
        display: grid;
        grid-template-areas: 
            "tijd snelheid"
            "brandstof water";
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }
    
    .tijd {
        grid-area: tijd;
    }
    
    .snelheid {
        grid-area: snelheid;
    }
    
    .brandstof{
        grid-area: brandstof;
    }
    
    .water {
        grid-area: water;
    }
    
    
    .brandstofverbruik {
        grid-area: brverbruik;
        width: 89%;
        padding: 4%;
        margin-top: 50px;
    }
    
    .stroomgebruik {
        grid-area: stgebruik;
        width: 89%;
        padding: 4%;
        margin-top: 50px;
        justify-self: end;
    }
    
    .afstand {
        grid-area: afstand;
        width: 92%;
        padding: 4%;
        margin-top: 30px;
    }
    
    .crew {
        grid-area: crew;
        width: 92%;
        padding: 4%;
        margin-top: 30px;
    }
    
    .data {
        display: grid;
        width: 100%;
        grid-template-areas: 
            "brverbruik stgebruik"
            "afstand afstand"
            "crew crew";
        grid-template-columns: 50% 50%;
        grid-row-gap: 10px;
    }
    
    

    
}
    
    
    
@media only screen and (max-width: 1313px) and (min-width: 900px) {
    main {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
    }
    
    .feiten{
        display: grid;
        grid-template-areas: 
            "tijd snelheid brandstof water";
        justify-content: space-between;
        grid-template-columns: 25% 25% 25% 25%;
        grid-row-gap: 10px;
    }
    
    .snelheidtekst, .brandstoftekst, .tijdtekst, .watertekst {
        font-size: 12px;
    }
    
    .tijd {
        grid-area: tijd;
        width: 96%;
    }
    
    .snelheid {
        grid-area: snelheid;
        width: 96%;
        justify-self: center;
    }
    
    .brandstof{
        grid-area: brandstof;
        width: 96%;
        justify-self: center;
    }
    
    .water {
        grid-area: water;
        width: 96%;
        justify-self: end;
    }
    
    
    .brandstofverbruik {
        grid-area: brverbruik;
        padding: 4%;
        width: 90%;
    }
    
    .stroomgebruik {
        grid-area: stgebruik;
        padding: 4%;
        width: 90%;
        margin-top: 25px;
    }
    
    .afstand {
        grid-area: afstand;
        width: 90%;
        padding: 4%;
        margin-top: 50px;
        justify-self: end;
    }
    
    .crew {
        grid-area: crew;
        width: 90%;
        padding: 4%;
        margin-top: 25px;
        justify-self: end;
    }
    
    .data {
        display: grid;
        width: 100%;
        grid-template-areas: 
            "brverbruik afstand afstand afstand"
            "stgebruik crew crew crew";
        grid-template-columns: 25% 25% 25% 25%;
        grid-row-gap: 10px;
        justify-content: space-between;
    }
    
    footer {
        margin-top: 70px;
    }
    
    #gauge2 {
        height: 300px;
    }
    
    .stroomgebruik > p {
        margin-top: -60px;
    }
}    
    


@media only screen and (min-width: 1314px) {
    main {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
    }
    
    .feiten{
        display: grid;
        grid-template-areas: 
            "tijd snelheid brandstof water";
        margin-top: -40px;
        justify-content: space-between;
    }
    
    .snelheidtekst, .brandstoftekst, .tijdtekst, .watertekst {
        font-size: 12px;
    }
    
    .tijd {
        grid-area: tijd;
        width: 250px;
    }
    
    .snelheid {
        grid-area: snelheid;
        width: 250px;
    }
    
    .brandstof{
        grid-area: brandstof;
        width: 250px;
    }
    
    .water {
        grid-area: water;
        width: 250px;
    }
    
    
    .brandstofverbruik {
        grid-area: brverbruik;
        width: 90%;
        padding: 3%;
        margin-top: 50px;
    }
    
    .stroomgebruik {
        grid-area: stgebruik;
        margin-bottom: 0px;
        margin-top: 50px;
        width: 90%;
        padding: 3%;
        justify-self: end;
    }
    
    .afstand {
        grid-area: afstand;
        margin-top: 50px;
        margin-right: 0px;
        width: 90%;
        padding: 3%;
        justify-self: end;
    }
    
    .crew {
        grid-area: crew;
        margin-top: 20px;
        margin-bottom: 0px;
        width: 94%;
        padding: 3%;
    }
    
    .data {
        display: grid; 
        grid-template-areas: 
            "brverbruik stgebruik afstand afstand"
            "crew crew crew crew";
        grid-template-columns: 25% 25% 25% 25%;
        grid-row-gap: 10px;
        justify-content: space-between;
    }
    
    
    footer {
        margin-top: 100px;
        margin-bottom: 0px;
    }
    
    
}

















    
    
    
    
    
    
    
    
    
    
    
    
    
    
    